services:
  etl:
    build:
      context: .
      dockerfile: docker/etl.Dockerfile
    depends_on:
      - postgres
    env_file: .env
    volumes:
      - ./data:/app/data
    command: ["python", "src/main.py"]

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      #- ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql
      #- ./docker/postgresql.conf:/etc/postgresql/postgresql.conf

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
